[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/demo deployment/demo
ExecStart=/home/ubuntu/bhoomi/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          BhoomiProject.wsgi:application

[Install]
WantedBy=multi-user.target